* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  background-color: #e5e5e5;
}

.navbar {
  position: fixed;
  background-color: #cf2b2b;
  color: #ffffff;
  top: 0px;
  left: 0px;
  height: 92px;
  width: 100vw;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.5);
}
.tm {
  margin-top: 8px;
  margin-left: 21px;
  font-family: righteous;
  font-weight: 400;
  font-size: 44px;
}
.slogan {
  margin-left: 21px;
  font-family: roboto;
  font-size: 18px;
}
.option-box {
  margin-right: 16px;
  font-weight: 400;
  background-color: #ffffff;
  height: 216px;
  width: 172px;
  border-radius: 9px;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
}
.option-box h3 {
  margin-top: 8px;
  margin-left: 12px;
  font-family: roboto;
  font-weight: 700;
  font-size: 16px;
}
.option-box img {
  margin-top: 18px;
  margin-left: 14px;
  margin-right: 14px;
  width: 144px;
  height: 87px;
}
.option-box p {
  margin-top: 4px;
  margin-left: 12px;
  color: #a6a6a6;
  font-family: roboto;
  font-weight: 300;
  font-size: 15px;
}
.option-box .price {
  margin-top: 5px;
  color: #000000;
  font-family: roboto;
  font-weight: 400;
  font-size: 16px;
}
.scrolling {
  overflow: hidden;
  overflow-x: scroll;
  display: flex;
  margin-top: 17px;
  background-color: #e5e5e5;
  height: 216px;
  width: 100%;
}
.option-selected {
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25),
    inset 0px 0px 0px 5px #32b72f;
}
.meal {
  margin-left: 4.6vw;
  font-family: roboto;
  font-weight: 400;
  font-size: 16px;
  margin-top: 27px;
  height: 259px;
  width: 95.4vw;
  font-family: righteous;
  color: #333333;
  font-size: 26px;
  background-color: #e5e5e5;
}
.main-course {
  margin-top: 123px;
}
.dessert {
  margin-bottom: 134px;
}
footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  width: 100vw;
  background-color: #ffffff;
}
a {
  position: fixed;
  bottom: 16px;
  text-decoration: none;
}
.purchase-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px 100px;
  padding: 0px;
  color: #ffffff;
  font-family: roboto;
  font-weight: 400;
  font-size: 20px;
  height: 61px;
  width: 87.92vw;
  background-color: #32b72f;
  outline: none;
  border: none;
}
.purchase-button h2 {
  margin-left: 25px;
  margin-right: 25px;
}

.button-disabled {
  background-color: #c4c4c4;
}
.check-mark {
  z-index: 2;
  margin-bottom: 15.5px;
  margin-right: 15.5px;
}
